.inline {
  display: inline;
}

.container {
  padding: 1rem;
  align-items: stretch;
}

.card-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.card-container::before {
  content: "";
  display: block;
  height: 4px;
  background-color: #a87ca0;
}

.card {
  height: 100%;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* the -1px is to avoid the scrollbar created by overflow auto */
  height: calc(100% - 1px);
}
